@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. Define the font face */
@font-face {
  font-family: "CustomTriangleFont";
  src: url("./font/02.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "CustomTriangleFont", sans-serif;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.animate-bg-dots {
  animation: moveBackground 5s linear infinite;
}

.outline-custom {
  outline: 1.5px solid #424242;
}

* {
  user-select: none !important;
}

.us {
  user-select: text !important;
}

::selection {
  color: #09090b;
  background-color: #f9f9f9;
}

@layer base {
  /* Scrollbar-er width set kora */
  ::-webkit-scrollbar {
    width: 8px; /* Vertical scrollbar width */
    height: 8px; /* Horizontal scrollbar height */
  }

  /* Scrollbar-er background (Track) - apnar 'bg' color (#09090b) */
  ::-webkit-scrollbar-track {
    background: #09090b;
  }

  /* Scrollbar-er moving part (Thumb) - apnar 'border' color (#212123) */
  ::-webkit-scrollbar-thumb {
    background: 1f1f1f;
    border-radius: 10px;
    border: 2px solid #212123; /* Ete scrollbar-er pashe ektu gap thakbe, dekhte shundor lage */
  }

  /* Hover korle thumb-er color change - apnar 'hover' color (#27272a) */
  ::-webkit-scrollbar-thumb:hover {
    background: #27272a;
  }

  /* Scrollbar corner (jokhon horizontal o vertical duitoy thake) */
  ::-webkit-scrollbar-corner {
    background: #09090b;
  }

  .scrollVeiwNone::-webkit-scrollbar {
    display: none;
  }
}

/* Chrome, Safari, Edge, and Opera*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type="number"] {
  -moz-appearance: textfield;
}
